
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<div class="row">
   


 <a class="btn btn-primary" asp-controller="Student" asp-action="Index">CreateStudent </a>

 <a class="btn btn-secondary" asp-controller="Cource" asp-action="Index">Create Cources </a>
    <a class="btn btn-warning text-white " asp-controller="Result" asp-action="Index">Create Result </a>
<a class="btn btn-danger text-white " asp-controller="ViewResult" asp-action="Index">View all Result </a>

    </div>
</div>